body {
  color: $black;
  background-color: $white;
  font-family: $font-lato;
  font-size: 16px;
}

h1 {
  font-family: $font-poppins;
}

h2 {
  font-family: $font-poppins;
  font-weight: 700;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  margin: 20px 0;
  span {
    color: $shakespeare;
    display: block;
  }
}

h3 {

}

p {
  line-height: normal;
}

a {
  text-decoration: none;
  line-height: normal;
  color: inherit;
  display: inline-block;
}

a, input, button, div {
  -webkit-tap-highlight-color: rgba($black, 0);
  &:focus {
    outline: none;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

@media screen and (max-width: $bp-xl) {
  h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: $bp-s) {
  h2 {
    font-size: 36px;
    padding: 0 20px;
  }
}
